@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
body {
  margin: 0;
  font-family: "Playfair Display", serif;
  background-image: url("../public/rolls-royce.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input,
select,
option {
  opacity: 0.75 !important;
}

#logo {
  font-family: "Rubik Mono One", monospace;
}
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.footer {
  flex-shrink: 0;
}

.hero {
  height: 60vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
